
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #ff6b6b, #556270); /* Adjust colors as needed */
    color: white; /* Set text color to contrast with the gradient background */
  }
  
  /* mainMenu.css */

.MainMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.InitialsBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.Button--top {
  position: fixed;
  bottom: 100px;
  left: 50%;
  grid-row-start: 6;
  transform: translateX(-50%);
  margin: 20px;
}

.Button--bottom {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 20px;
}

.TopRightImage {
  position: absolute;
  top: 0;
  right: 0;
  width: 500px; 
  height: 200px; 
  margin: 30px; 
}

.activeCont {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

  
.vertcontainer{
  position: absolute;
  top: 0;
  margin: 20px;
  display:flex;
  flex-direction: column;
  row-gap: 10px;
}

.container{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 300px;
}

#debug {
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: pointer;
  color: #000000FF;
}